<div class="add-book-container">
  <div class="modal-title">
    <h2>Add New Book</h2>
  </div>
  <form (ngSubmit)="addBook()" class="add-book-form">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="book.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput [(ngModel)]="book.author" name="author" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="book.description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput [(ngModel)]="book.imageUrl" name="imageUrl" />
    </mat-form-field>

    <div class="add-book-button-container">
      <button mat-raised-button color="primary" type="submit" class="add-book-submit-btn">
        Add Book
      </button>

      <button mat-button color="warn" type="button" class="add-book-cancel-btn" (click)="closeModal()">
        Cancel
      </button>
    </div>
  </form>
</div>

